<div class = "container">
  <div class ="card w-75 mx-auto">
    <div class ="card-header">
      <div class = "text-center">
      <h2>ユーザー新規登録</h2>
      </div>
    </div>


    <div class ="card-body">
      <div class ="w-50 mx-auto">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label '学籍番号' %> <br />
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label 'メールアドレス' %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label 'パスワード'%>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label 'パスワード再入力' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
      </div>

      <div class="actions">
        <%= f.submit "新規ユーザー登録", class: 'btn btn-primary mt-3'%>
      </div>
      <% end %>
      </div>
    </div>

  </div>
</div>


