<div class = "container">
    <%= form_for(@border) do |f| %>
        <div class = "card container pt-3">
            <div class = "form-group">
                <%= f.label '教科'%>
                <%= f.select :subject, ['電子工学','微分積分','応用物理','現代社会','英語','電気回路','実験実習','ディジタル回路',
                                        '電磁気学','コミュニケーション','エネルギー変換工学','英語コミュニケーション'], class: 'form-control'%>
            </div>

            <div class = "form-group">
                <%= f.label '課題内容'%>
                <%= f.text_field :content, class: 'form-control'%>
            </div>

            <div class = "form-group">
                <%= f.label '締め切り'%>
                <%= f.date_select :deadline, use_month_numbers:true, prompt:"--", class: 'form-control'%>
            </div>

            <div class = "form-group">
                <%= f.label 'メモ'%>
                <%= f.text_area :memo, class: 'form-control'%>
            </div>
            
        </div>

        <%= f.submit "課題登録", class:'btn btn-success float-right mt-3'%>
    <%end%>
</div>