<div class="card">
    <div class="card-header font-weight-bold text-center">利用規約　※読んでね！</div>
    <div class="card-body">
        <ul>
            <li>このサイトは一個人による自己満＆web制作の勉強のために作っています</li>
            <li>スマホでも動くと思いますがPC推奨です</li>
            <li>このサイトは誰でも編集することのできるサイトですので荒らさないでください。
            開発者の技量不足で今の所対策が取れないので荒らしがあったら閉鎖します</li>
            <li>個人用として使えるようログイン機能も設けたいと思いますのでいましばらくお待ち下さい。</li>
            <li>このサイトに欲しい機能などありましたら　<br> Twitter -> @mkrms_again のDMにお願いします(鍵垢です)</li>
        </ul>
    </div>
</div>