<div class ="container">
<div class="card">
    <div class="card-header font-weight-bold text-center">使い方</div>
    <div class="card-body">
        <p class = "">
            <h3>課題登録機能の使い方</h3>
            １．新規作成を押す（ユーザー登録が必要です）<br>
            ２．教科、課題内容、締切、メモ欄を入力<br>
            ３．課題登録ボタンで登録（学籍番号が表示されます）<br>
            Topページの詳細リンクから、詳細を閲覧可能<br>
        </p>

        <p>
            <h3>Todoの使い方</h3>
            １．新規作成を押す（ユーザー登録が必要です）<br>
            ２．タイトルと内容を入力<br>
            他のユーザーには見られません<br>
        </p>
    </div>
</div>
</div>