<div class ="container-fluid">
    <h2 class ="text-center">[課題管理]</h2>
    <div class="row justify-content-around">
        <div class = "d-inline-block col">
            <%= link_to "新規作成", new_border_path, class: "btn btn-primary mb-3" %>
            <table class = "table table-bordered">
                <thead class = "thead-light">
                    <tr>
                        <th>教科</th>
                        <th>課題内容</th>
                        <th>締め切り</th>
                        <th>作成者</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @border.each do |border| %>
                        <tr>
                            <td><%= border.subject %></td>
                            <td><%= border.content %></td>
                            <% if border.deadline.present?%>
                        <% if Date.today < border.deadline %>
                            <td> <%= border.deadline%> </td>
                        <%elsif Date.today > border.deadline %>
                            <td class ="text-danger"> <%= border.deadline %> </td>
                        <% else %>
                            <td class = "text-success"> <%= border.deadline %> </td>
                        <% end %>

                        <% else %>
                        <td></td>
                        <%end%>
                            <td><%= border.user.name %></td>
                            <td><%= link_to '詳細',  border %></td>
                        </tr>
                    <% end %>

                </tbody>
            </table>
        </div>
    </div>
</div>
