<div class = "container">
    <div class="card">
        <div class="card-header">
            <%= @border.subject %><p class ="text-center font-weight-bold">課題内容：<%= @border.content %></p>
        </div>

        <div class="card-body">
            <div class = "font-weight-bold">メモ</div><p class ="container"><%= @border.memo %></p>
        </div>
        <div class="card-footer">
            <div class = "float-right"><%= @border.deadline%></div>
        </div>
    </div>

    <%= link_to "削除", border_path(@border), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-danger float-right mt-3'%>
</div>