<% if user_signed_in? %>
<h2 class ="text-center">[Todoリスト]</h2>
        <div class ="d-inline-block col align-self-center">
        <div class ="d-inline-block col align-self-center">
    <%= link_to "新規作成", new_task_path, class: "btn btn-primary" %>
<table class = "table table-bordered">
    <thead class = "thead-light">
        <tr>
            <th>タイトル</th>
            <th>内容</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @task.each do |task| %>
            <tr>
                <td><%= task.title %></td>
                <td><%= task.body %></td>
                <td><%= link_to '詳細',  task %></td>
            </tr>
        <% end %>
    </tbody>
</table>
        </div>
        <% end %>

