<div class = "container">
    <div class="card">
        <div class="card-header">
            <p class ="text-center font-weight-bold">タイトル：<%= @task.title %></p>
        </div>

        <div class="card-body">
            <div class = "font-weight-bold">メモ</div><p class ="container"><%= @task.body%></p>
        </div>
        <div class="card-footer">
        </div>
    </div>

    <%= link_to "削除", task_path(@task), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'btn btn-danger float-right mt-3'%>
</div>
