<div class = "container">
  <div class ="card w-75 mx-auto">
    <div class ="card-header">
      <div class = "text-center">
      <h2>ログイン</h2>
      </div>
    </div>


    <div class ="card-body">
      <div class ="w-50 mx-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label "学籍番号" %><br />
    <%= f.text_field :name, autofocus: true, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "ログイン", class: 'btn btn-success mt-3' %>
  </div>
<% end %>
      </div>
    </div>

  </div>
</div>
